:root {
  --color-dark: #60241E;
  --color-primary: #95271D;
  --color-secondary: #B34A44;
  --color-accent: #E77B49;
}
body{
    background-color: var(--color-dark);
    color:white;
}
#navbar{

    border:2px solid black;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}
#navOpts{
    display: flex;
    gap: 2rem;
}
#tagLine{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: large;
    margin : 0.2rem;
}

#coffeeDiscription{
    font-weight: lighter;
    font-size:xx-large;
    color:yellow;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuListBtn{
    background-color: #E77B49;
    color: white;
    border-radius: 1rem;
    height: 3rem;
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family:cursive;
    font-size: medium;
    font-weight: 100;
}
#menuTitle{
    border: 2px solid;
    font-style: italic;
}
#menuList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid ;
    height: 300px;
    width: 100%;
}
.menuListProp{
    border: 1px solid black;
}
#foodCategory{
    color: yellow;
    font:caption;
    margin: 0.5rem;
    border: 1px solid yellow;
}
#foodItem{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;;
}

#item{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#itemName{
    font: small-caps bolder 15px/1 sans-serif;
    margin:0.2rem;
}

#itemDescription{
    font-style: italic;
    color:rgb(132, 135, 112);
    font-weight:lighter;
    margin:0.2rem;
}
#itemPrice{
    margin: 0.2rem;
}
#ourStory{
    display: flex;
    align-items: center;
    justify-content: space-between;
}